jupyterlab
matplotlib
plotly
ipywidgets
jupyterlab_widgets
pandas
pymongo
python-binance
tqdm
python-dateutil
pydantic
pydantic-settings
ta-lib
scikit-learn
arch
optuna
psycopg2-binary
torch
torchvision
mlflow
-r service/requirements.txt