jupyterlab
matplotlib
plotly
ipywidgets
jupyterlab_widgets
pandas
pymongo
python-binance
tqdm
python-dateutil
pydantic
pydantic-settings
ta-lib
scikit-learn
arch
optuna
cmaes
psycopg2-binary
-r service/requirements.txt